# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List some commonly used libraries for Data Science
* Adding and multiplying in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras
4. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

9*6, 3+2, (54+6)/3

In [5]:
#This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [6]:
#This will convert 400 minutes to hours by diving by 60
400/60

6.666666666666667

## Author
Taosif Mahir